.root{
	max-width: 640px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 1.38rem;
	z-index: 999;
	padding: 0 0.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	background: #BEBEBE;
}

.header i,.header a{
	font-size: 0.58rem;
	color: #919191;
}

.header span{
	font-size: 0.4rem;
}

/* middle开始 */
.middle{
	width: 100%;
	background: #fff;
	padding: 1.38rem 0 1.4rem 0;
	display: flex;
}

.middle .aside{
	width: 2.27rem;
	height: 100%;
	border-right:0.03rem solid rgba(0,0,0,0.05) ;
	overflow-y: auto;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	
}


.middle .aside::--webkit-scrollbar{
	width: 0;
	height:0;
}

 .middle .aside>div{
	width: 100%;
	height: 1.91rem;
	font-size: 0.36rem;
	color: #3c3c3c;
	text-align: center;
	line-height: 1.91rem;
}

.middle .aside>div.active{
	color: #ff6700;
	font-size: 0.43rem;
}

.middle .goods-list{
	height: 100%;
	width: calc(100% - 2.27rem);
	padding:0 0.46rem;
	overflow: auto;
	padding-left: 2.37rem;
}

.middle .goods-list::--webkit-scrollbar{
	width: 0;
}

.ads-box{
	width: 100%;
	height: 3rem;
}

.ads-box img{
	width: 100%;
	height: 100%;
}

.product-box{
	width: 100%;
	overflow: hidden;
}

.category-name{
	width: 100%;
	height:1.77rem ;
	margin-top: 0.34rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-name .line{
	width: 0.61rem;
	height: 0.03rem;
	background: #e0e0e0;
}

.category-name span{
	margin: 0 0.31rem;
	font-size: 0.38rem;
	color: #515151;
}

.product-box .goods{
	width: 100%;
	height: 6.2rem;
	display: flex;
	flex-wrap: wrap;
}

.product-box .goods>div{
	width: 33.33%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-box .goods div img{
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: 0.2rem;
}

.product-box .goods p{
	width: 100%;
	font-size: 0.3rem;
	color: #313131;
	padding: 0 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	text-align: center;
}
/* middle结束 */