/*底部开始 */
.footer{
	max-width: 640px;
	width: 100%;
	height:1.4rem;
	position: fixed;
	left: 0;
	bottom: 0;
	/* transform:translateX(-50%); */
	display:flex;
	background: #fff;
	box-shadow:0 0.3rem 0.14rem 0.02rem rgba(0,0,0,0.2) ;
}

 .footer a{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer a .list1 .icon{
	width:0.58rem;
	height:0.58rem;
	font-size: 0;
	/* background: #232323; */
}

.footer a .list1 .icon>img{
	width:100%;
	height:100%;
}



.text{
	height: 0.3rem;
	font-size:0.3rem ;
	/* margin-top: 0.1rem; */
	color: #999;
	padding-top: 0.16rem;
}

.text-active{
	font-size: 0.3rem;
	margin-top: 0.1rem;
	color: #e79d56;
}
.text-my{
	font-size: 0.3rem;
	margin-top: 0.1rem;
	color:#cf7b33;
}
.text-shouye{
	font-size: 0.3rem;
	margin-top: 0.1rem;
	color:#9a9a9a ;
}

